h1 {
    color:rgb(53, 85, 85);
    margin-left: 20px
}
h2 {
    margin-top: -10px;
}
.main {
    background-color: rgb(103, 165, 165);
    color: White;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    margin-top: -15px;
    margin-left: 10px
}
.message {
    margin-top: 10px;
    color:white;
}
#number-input {
    margin-right: 10px;
    height: 30px;
    border-radius: 7px;
}
#mode-select {
    height: 30px;
    border-radius: 7px;
}
#submit-input {
    height: 30px;
    border-radius: 7px;
}